<application-loader>


    <div class="card">
        <div class="card-container" style="display:block;">
            <div class="full-content">

                <panels-placeholder
                        position="header"
                        routes={opts.app.navigation.routes()}
                        current_page={opts.app.navigation.currentPage}
                        user={opts.app.security.user}
                        actions={opts.app.actions}
                        working_state={opts.app.workingState}
                ></panels-placeholder>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-3" if={leftNavPanels().length>= 1}>
            <virutal each={ panel in leftNavPanels() }>
                <div if={opts.app.security.user.isAuthorized(panel.requiredRole)} class="card full-card">
                    <div class="card-body">
                        <div class="card-container">
                            <div class="full-content">

                                <h3 if={panel.title} class="card-title">{panel.title}</h3>

                                <panel-placeholder

                                        panel={panel}
                                        routes={opts.app.navigation.routes()}
                                        current_page={opts.app.navigation.currentPage}
                                        user={opts.app.security.user}
                                        actions={opts.app.actions}
                                        working_state={opts.app.workingState}
                                ></panel-placeholder>
                            </div>
                        </div>
                    </div>
                </div>
            </virutal>
        </div>
        <div class={ getWidth() }>

            <panels-placeholder
                    position="notifications"
                    routes={opts.app.navigation.routes()}
                    current_page={opts.app.navigation.currentPage}
                    user={opts.app.security.user}
                    actions={opts.app.actions}
                    working_state={opts.app.workingState}
            ></panels-placeholder>

            <panels-placeholder
                    position="mainAbove"
                    routes={opts.app.navigation.routes()}
                    current_page={opts.app.navigation.currentPage}
                    user={opts.app.security.user}
                    actions={opts.app.actions}
                    working_state={opts.app.workingState}
            ></panels-placeholder>

            <virutal each={ panel in mainPanels() }>
                <div if={opts.app.security.user.isAuthorized(panel.requiredRole)} class="card full-card">
                    <div class="card-body">
                        <div class="card-container">
                            <div class="full-content">

                                <h3 if={panel.title} class="card-title">{panel.title}</h3>

                                <panel-placeholder

                                        panel={panel}
                                        routes={opts.app.navigation.routes()}
                                        current_page={opts.app.navigation.currentPage}
                                        user={opts.app.security.user}
                                        actions={opts.app.actions}
                                        working_state={opts.app.workingState}
                                ></panel-placeholder>
                            </div>
                        </div>
                    </div>
                </div>

            </virutal>


            <panels-placeholder
                    position="mainBelow"
                    routes={opts.app.navigation.routes()}
                    current_page={opts.app.navigation.currentPage}
                    user={opts.app.security.user}
                    actions={opts.app.actions}
                    working_state={opts.app.workingState}
            ></panels-placeholder>

        </div>

        <div class="col-3" if={rightNavPanels().length >= 1}>
            <virutal each={ panel in rightNavPanels() }>
                <div if={opts.app.security.user.isAuthorized(panel.requiredRole)} class="card full-card">
                    <div class="card-body">
                        <div class="card-container">
                            <div class="full-content">

                                <h3 if={panel.title} class="card-title">{panel.title}</h3>

                                <panel-placeholder

                                        panel={panel}
                                        routes={opts.app.navigation.routes()}
                                        current_page={opts.app.navigation.currentPage}
                                        user={opts.app.security.user}
                                        actions={opts.app.actions}
                                        working_state={opts.app.workingState}
                                ></panel-placeholder>
                            </div>
                        </div>
                    </div>
                </div>
            </virutal>
        </div>
    </div>


    <div class="card">
        <div class="card-container" style="display:block;">
            <div class="full-content">

                <panels-placeholder
                        position="footer"
                        routes={opts.app.navigation.routes()}
                        current_page={opts.app.navigation.currentPage}
                        user={opts.app.security.user}
                        actions={opts.app.actions}
                        working_state={opts.app.workingState}
                ></panels-placeholder>
            </div>
        </div>
    </div>

    <style>

        .row > div .card.full-card {
            margin-left: 0;
            margin-right: 0;
        }

    </style>

    <script>
        let tag = this;
        tag.debug = debug;
        tag.panels = panels;
        tag.mainPanels = () => this.panels("main");
        tag.leftNavPanels = () => this.panels("leftNav");
        tag.rightNavPanels = () => this.panels("rightNav");
        tag.getWidth = getWidth;


        function getWidth() {
            if (this.leftNavPanels().length === 0 && this.rightNavPanels().length === 0) {
                return "col-12";
            }

            if (this.leftNavPanels().length > 0 && this.rightNavPanels().length > 0) {
                return "col-6";
            }
            return "col-9";
        }

        function debug(x) {
            return JSON.stringify(x, null, "  ");
        }

        function panels(position) {
            let items = this.opts.app.navigation.currentPage.panels.filter(x => x.position === position);
            return items;
        }

    </script>
</application-loader>