<mail-box>
    <div class="mailBoxContainer tooltip" style="padding-top:16px;">
        <a href="javascript:void(0);">
            <i class="fas fa-inbox"></i>
        </a>

        <a if={ opts.model.length !=0} class="top-right" style="color: lightblue;" href="javascript:void(0);">
            {opts.model.length}
        </a>

        <span class="tooltiptext tooltip-bottom">
            
            <virtual if={ opts.model.length == 0}>
                Nothing to see here
            </virtual>
            
            <virtual each={message in opts.model}>
                
                {message.text}
                <br />
                
            </virtual>
            
        </span>
        
    </div>

    <style>

        .mailBoxContainer {

            position: relative;
            text-align: center;
            color: white;
        }

        .mailBoxContainer a {
            text-decoration: none;
            font-size: xx-large;
        }

        .mailBoxContainer .top-right {
            position: absolute;
            top: 0px;
            left: 5px;
        }

        
        /* ********** */

        .tooltip {
            position: relative;
            /*display: inline-block;*/
            /*border-bottom: 1px dotted #ccc;*/
            color: #006080;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            position: absolute;
            /* HERE */
            width: 280px;
            background-color: #555;
            color: #fff;
            text-align: left;
            border-radius: 6px;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
            padding: 5px 0 5px 5px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .tooltip-bottom {
            top: 135%;
            left: 50%;
            /* HERE HALD */
            margin-left: -190px;
        }

        .tooltip-bottom::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }
        
    </style>

</mail-box>
