<model-printer>

    <pre><code>{debug(opts.model)}</code></pre>

    <script>

        this.debug = debug;
        function debug(obj) {
            return JSON.stringify(obj || {}, null, "  ");
        }

    </script>
</model-printer>
