<page-three>

    <div ref="placeHolder">Page 3</div>

    <code><pre>{debug(opts.model)}</pre></code>
    <code><pre>{debug(opts)}</pre></code>

    <script>

        
        debug(obj) {
            return JSON.stringify(obj || {}, null, "  ");
        }

    </script>
</page-three>
