<page-one>

    <div ref="placeHolder">Page 1</div>
    <button onclick={() => opts.actions.alert({a:1})}>Alert</button>

    <button onclick={ addError }>Add Error</button>

    <button onclick={page3}>Navigate</button>
    <script>

        var tag = this;

        tag.page3 = page3;
        tag.addError = error;

        function error(){
            tag.opts.actions.addError("ERROR!!!");
            return false;
        }

        function page3(){
            tag.opts.actions.navigate("/page3/{id}", {id:1});
            return false;
        }

    </script>
</page-one>
