<roles-printer>

    <h4>All Roles</h4>
    <ul>

        <li each={item in opts.model}>
            {item.name}: {opts.user.isAuthorized(item.name).toString()}

        </li>
    </ul>

</roles-printer>
