<user-printer>

    <div>
    IsAuthenticated: {opts.user.isAuthenticated().toString()}
    </div>
    <div>
    Name: {opts.user.id()}
    </div>

    <script>
        let tag = this;
        tag.debug = debug;

        function debug(obj) {
            return JSON.stringify(obj, null, "  ");
        }

    </script>
</user-printer>
