<application-footer>

    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="text-align: center!important;">&copy; {new Date().getFullYear()} Copyright:
            <a href="{opts.model.companyUrl}"> {opts.model.companyName}</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</application-footer>