<errors>


    <div if={opts.model.length !== 0} style="margin-left: 20px; margin-right: 20px;">

        <ul style="list-style: none; padding-left: 0">
            <li each={error in opts.model} style="background-color: #d6d8d9; border-color: #c6c8ca;" >
                <i style="color: red;" class="fas fa-exclamation-triangle"></i> {error.text}

                <button onclick={handleClick} type="button" data-id={error.id} class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        </ul>
    </div>

    <style>

        button {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: .75rem 1.25rem;

            /*padding: 0;*/
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }

        li {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
    </style>

    <script>
        let tag = this;
        tag.debug = debug;
        tag.handleClick = handleClick;

        function handleClick(e){
            this.opts.actions.dismissError(e.item.error.id);
            return false;
        }

        function debug(x) {
            return JSON.stringify(x, null, "  ");
        }
    </script>
</errors>