<main-navigation>

    <ul class={ opts.horizontal ? 'horizontal-list' : 'vertical-list' }>
        <li each={ page in opts.routes.filter(whereNoParams).filter(canView).map(toPage) }>
            <a onclick={ handleNavigate } href={ page.url }> { page.title } </a>
        </li>
    </ul>

    <script>

        let tag = this;

        tag.whereNoParams = whereNoParams;
        tag.canView = canView;
        tag.toPage = toPage;
        tag.handleNavigate = handleNavigate;

        function whereNoParams(route) {
            return (route.includeInNav === true);
        }

        function canView(route) {
            return opts.user.isAuthorized(route.requiredRole);
        }

        function toPage(route) {
            return {
                url: route.url,
                parameters: route.parameters,
                title: route.title
            };

        }

        function handleNavigate(e)
        {
            e.preventDefault();
            var page = e.item.page;

            app.navigation.navigate(page.url, {});
            // this.opts.actions.navigate(page.url, {});
        }

    </script>

    <style>


        ul.horizontal-list {
            min-width: 696px;
            list-style: none;
            padding-top: 20px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }

        ul.horizontal-list li {
            display: inline;
            margin-right: 2em;
        }

        ul.vertical-list {
            list-style: none;
            padding-top: 0;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }

        ul.vertical-list li {
            margin-right: 2em;
        }


    </style>
</main-navigation>