<panels-placeholder>

    <virtual each={ panel in panels()}>

        <!--<pre><code>{ debug(panel) }</code></pre>-->
        <!--<pre><code>{ debug(opts.app.navigation.routes()) }</code></pre>-->
        <panel-placeholder
                panel={panel}
                routes={opts.routes}
                current_page={opts.current_page}
                user={opts.user}
                actions={opts.actions}
                working_state={opts.working_state}
        ></panel-placeholder>
    </virtual>

    <script>


        let tag = this;
        tag.debug = debug;
        tag.panels = panels;

        function debug(x) {
            return JSON.stringify(x, null, "  ");
        }

        function panels(){

            let position = opts.position;

            let items = opts.current_page.panels.filter(x => x.position === position) || [];
            return items;

        }

    </script>


</panels-placeholder>