<panel-placeholder>

    <div ref="panelHolder"></div>

    <script>


        let tag = this;
        tag.isUseless = false;
        tag.processValueMount = processValueMount;
        tag.processValueUpdate = processValueUpdate;


        tag.on("before-unmount", function () {
            tag.isUseless = true;
        });

        tag.on('update', function () {
            let opts = this.opts;

            this.processValueUpdate(tag.refs, opts);
        });


        tag.on('mount', function () {
            let opts = this.opts;
            this.processValueMount(tag.refs, opts);
        });

        tag.on('before-unmount', function () {

            let myRefs = tag.refs;
            let myAppRouteContainer = myRefs.panelHolder;

            while (myAppRouteContainer && myAppRouteContainer.firstChild) {
                if (myAppRouteContainer.firstChild._tag) {
                    myAppRouteContainer.firstChild._tag.unmount();
                } else {
                    myAppRouteContainer.removeChild(myAppRouteContainer.firstChild);
                }
            }
        });

        function processValueMount(myRefs, opts) {

            let item = opts.panel;
            if (item == null) {
                return;
            }

            if (!this.opts.user.isAuthorized(item.requiredRole)) {
                return;
            }

            let myAppRouteContainer = myRefs.panelHolder;

            if (item.dependencyCall == null) {

                let tag1 = document.createElement(item.tagName);

                myAppRouteContainer.appendChild(tag1);
                let newOpts = Object.assign({}, opts);

                if (tag1 && tag1.parentElement) {

                    riot.mount(tag1, newOpts);

                }
            } else {


                let newOpts = Object.assign({}, opts);

                let params = opts.current_page.parameters;

                function setup() {
                    item.dependencyCall(params, (obj) => {

                        if (!tag.isUseless) {
                            newOpts.model = obj;
                            let tag1 = document.createElement(item.tagName);

                            myAppRouteContainer.appendChild(tag1);
                            if (tag1 && tag1.parentElement) {
                                riot.mount(tag1, newOpts);
                            }
                        }
                    });
                }

                setup();


                function myUpdate() {
                    item.dependencyCall(params, (obj) => {
                        if (!tag.isUseless) {
                            newOpts.model = obj;

                            let children = myAppRouteContainer.children;
                            for (let i = 0; i < children.length; i++) {
                                let c = children[i];
                                if (c._tag) {
                                    c._tag.update({opts: newOpts});
                                }
                            }
                        }
                    });
                }

                if (item.refreshInterval != null && item.refreshInterval > 0) {

                    let timer = setInterval(myUpdate, item.refreshInterval);

                    tag.on("unmount", function () {

                        clearInterval(timer)
                    });
                    
                }
            }
        }
        
        function processValueUpdate(myRefs, opts) {

            let item = opts.panel;
            if (item == null) {
                return;
            }

            if (!this.opts.user.isAuthorized(item.requiredRole)) {
                return;
            }

            let myAppRouteContainer = myRefs.panelHolder;

            if (item.dependencyCall != null) {

                let newOpts = Object.assign({}, opts);

                let params = opts.current_page.parameters;

                function setup() {
                    item.dependencyCall(params, (obj) => {

                        if (!tag.isUseless) {
                            newOpts.model = obj;

                            let c = myAppRouteContainer.children;
                            
                            for (let i = 0; i < c.length; i++) {
                                let child = c[i];
                                if (child && child._tag) {
                                    child._tag.update(newOpts);
                                }
                            }
                        }
                    });
                }

                setup();


            }
        }
    </script>
</panel-placeholder>