<user-form-field>

    <virtual if={ isText(opts.field) }>
        <user-form-field-text utilities={opts.utilities} fields={opts.fields} field={opts.field}
                              formValue={opts.formvalue}></user-form-field-text>
    </virtual>

    <virtual if={ isRadioList(opts.field) }>
        <user-form-field-radiolist utilities={opts.utilities} fields={opts.fields} field={opts.field}
                                   formValue={opts.formvalue} fields={opts.fields}></user-form-field-radiolist>
    </virtual>

    <virtual if={ isTextArea(opts.field) }>
        <user-form-field-textarea utilities={opts.utilities} fields={opts.fields} field={opts.field}
                                  formValue={opts.formvalue}></user-form-field-textarea>
    </virtual>

    <virtual if={ isCheckbox(opts.field) }>
        <user-form-field-checkbox utilities={opts.utilities} fields={opts.fields} field={opts.field}
                                  formValue={opts.formvalue}></user-form-field-checkbox>
    </virtual>

    <virtual if={ isDropdown(opts.field) }>
        <user-form-field-dropdown utilities={opts.utilities} fields={opts.fields} field={opts.field}
                                  formValue={opts.formvalue}></user-form-field-dropdown>
    </virtual>

    <virtual if={ isMultiSelect(opts.field) }>
        <user-form-field-multiselect utilities={opts.utilities} fields={opts.fields} field={opts.field}
                                     formValue={opts.formvalue}></user-form-field-multiselect>
    </virtual>

    <script>

        let tag = this;
            
        // tag.getField = getField;
        tag.isTextBase = isTextBase;
        tag.isText = isText;
        tag.isTextArea = isTextArea;
        tag.isCheckbox = isCheckbox;
        tag.isDropdown = isDropdown;
        tag.isMultiSelect = isMultiSelect;
        tag.isRadioList = isRadioList;



        function isTextBase(item) {
            let knownTypes = [
                "date",
                "datetime-local",
                "email",
                "month",
                "number",
                "password",
                "search",
                "tel",
                "text",
                "time",
                "url",
                "week"];
            return knownTypes.includes(item.type);
        }

        function isText(item) {
            if (tag.isTextBase(item)) {
                if ("multiline" in item) {
                    return !(item.multiline);
                }

                return true;
            }

            return false;
        }

        function isTextArea(item) {
            return tag.isTextBase(item) && item.multiline == true;
        }

        function chooserType(item) {
            if (item.type != 'chooser') {
                return "Unknown";
            }

            if (item.options.length < 5) {

                if (item.maximum === 1) {
                    return "radiolist";
                }
                return "checkbox";
            } else {

                if (item.maximum === 1) {
                    return "dropdown";
                }
                return "multiselect";
            }
        }

        function isCheckbox(item) {
            return chooserType(item) === "checkbox";
        }

        function isMultiSelect(item) {
            return chooserType(item) === "multiselect";
        }

        function isDropdown(item) {
            return chooserType(item) === "dropdown";
        }

        function isRadioList(item) {
            return chooserType(item) === "radiolist";
        }


        // type="button",
        // type="checkbox",
        // type="color",
        // type="file",
        // type="hidden",
        // type="image",
        // type="radio",
        // type="range",
        // type="reset",
        // type="submit",

    </script>
</user-form-field>
