<user-form-field-multiselect>


    <div>
        <div class="form-group">
            <label>{opts.field.label}
                <select multiple="multiple" data-key={ opts.field.key } onchange={ ddlChange } id={ ddlId() }>
                    <option each={option1 in opts.field.options}
                            selected={option1.chosen}
                            value="{option1.value}">
                        {option1.label}
                    </option>
                </select>
            </label>
        </div>

        <virtual each={subItem in this.children}>
            <user-form-field utilities={opts.utilities} formValue={opts.formvalue} fields={opts.fields}
                             field={getField(subItem)}/>
        </virtual>
    </div>


    <script>

        let tag = this;
        tag.children = [];
        tag.getField = getField;
        tag.ddlId = ddlId;
        tag.ddlChange = ddlChange;


        if (tag.opts && tag.opts.field) {
            if (!("sjy9876786347829429" in tag.opts.field)) {
                tag.local_id = tag.opts.utilities.uuid();
                tag.opts.field["sjy9876786347829429"] = tag.local_id;
            }
        }


        function ddlId() {
            return "ms" + tag.local_id;
        }

        function ddlChange(e) {


            let key = e.target.dataset.key;
            let options = e.target.options;
            let values = [];

            for (let i = 0; i < options.length; i++) {
                let option = options[i];
                if (option.selected) {
                    values.push(option.value);
                }
            }

            tag.opts.utilities.updateChildren(tag, () => tag.opts.utilities.setValueForObject(key, values));
        }


        function getField(key) {
            return opts.fields.filter(x => x.key === key)[0];
        }

        tag.on('mount', function () {

            tag.opts.utilities.triggerEvent(document.getElementById(tag.ddlId()), tag.ddlChange);

            tag.opts.utilities.updateChildren(tag, true);

        });


    </script>
</user-form-field-multiselect>