<user-form-field-radiolist>

    <div>
        <div class="form-group" id={cbParentId()}>
            <label>{opts.field.label}</label>
            <virtual each={option1 in opts.field.options}>
                <label style="display: block">
                    <input type="radio"
                           checked={option1.chosen}
                           onclick={ check }
                           data-key={ opts.field.key }
                           data-value={ option1.value }
                           value={option1.value}
                           name={local_id}
                           style="display:inline; width:initial;"/>
                    {option1.label}
                </label>
            </virtual>
        </div>

        <virtual each={subItem in this.children}>

            <user-form-field utilities={opts.utilities} formValue={opts.formvalue} fields={opts.fields}
                             field={getField(subItem)}></user-form-field>
        </virtual>
    </div>

    <script>

        let tag = this;
        tag.children = [];
        tag.getField = getField;
        tag.cbId = cbId;
        tag.cbParentId = cbParentId;
        tag.check = check;


        if (tag.opts && tag.opts.field) {
            if (!("sjy9876786347829429" in tag.opts.field)) {
                tag.local_id = tag.opts.utilities.uuid();
                tag.opts.field["sjy9876786347829429"] = tag.local_id;
            } else if (tag.local_id == null) {
                tag.local_id = tag.opts.field["sjy9876786347829429"];
            }
        }

        function cbId(option) {
            return "rbl" + tag.local_id + "_" + option.value;
        }

        function cbParentId() {
            return "rbl" + tag.local_id;
        }


        function getField(key) {

            let z = tag.opts.fields.filter(x => x.key === key)[0];
            return z;
        }


        function check(e) {
            let key = e.target.dataset.key;
            let value = e.target.dataset.value;

            

            tag.opts.utilities.updateChildren(tag, () => {
                if (e.target.checked) {
                    tag.opts.utilities.setValueForObject(key, value);
                }
            });
        }

        tag.on('mount', function () {
            let parentEl = document.getElementById(tag.cbParentId());
            if (parentEl != null) {
                tag.opts.utilities.triggerEvents(parentEl.getElementsByTagName("input"), tag.check);
            }
            
            tag.opts.utilities.updateChildren(tag, true);
        });

    </script>
</user-form-field-radiolist>