<user-form-field-textarea>


    <div class="form-group">

        <label>{opts.field.label}
            <textarea id={ textId() }
                      class="form-control"
                      onkeyup='{ change }'
                      data-key={ opts.field.key }
                      placeholder="{opts.field.placeholder}">{ getTextValue(opts.field) }</textarea>

        </label>
    </div>

    <script>

        let tag = this;
        tag.getTextValue = getTextValue;
        tag.textId = textId;
        tag.change = change;


        if (tag.opts && tag.opts.field) {
            if (!("sjy9876786347829429" in tag.opts.field)) {
                tag.local_id = tag.opts.utilities.uuid();
                tag.opts.field["sjy9876786347829429"] = tag.local_id;
            }
        }


        function getTextValue(theItem) {
            return theItem.value;
        }

        function textId() {
            return "textArea" + tag.local_id;
        }


        function change(e) {
            tag.opts.utilities.updateChildren(tag, () => tag.opts.utilities.setValueForObject(e.target.dataset.key, e.target.value));
        }
        

        tag.on('mount', function () {

            tag.opts.utilities.triggerEvent(document.getElementById(tag.textId()), tag.change);

            tag.opts.utilities.updateChildren(tag, true);
        });


    </script>
</user-form-field-textarea>