<user-form>

    <form onsubmit={ handleSubmit }>
        <fieldset disabled={isDisabled()}>
            <legend>{title()}</legend>


            <virtual if={this.validationErrors.length> 0}>
                <ul>
                    <li each={error in errors()}>
                        {error}
                    </li>
                </ul>
            </virtual>


            <virtual each={item in getTopFields(opts.model.fields)}>
                <user-form-field formValue={opts.model.value} utilities={utilities}
                                 fields={opts.model.fields} field={item}/>
            </virtual>

            <button type="submit" class="btn btn-primary">{opts.model.submitText || "Submit"}</button>
        </fieldset>
        <script>

            let tag = this;
            tag.getTopFields = (x) => getFields(x, true);
            tag.getBottomFields = (x) => getFields(x, false);
            tag.handleSubmit = handleSubmit;
            tag.handleValidation = handleValidation;
            tag.errors = errors;
            tag.validationErrors = [];
            tag.title = title;
            tag.setupControl = setupControl;
            tag.isDisabled = isDisabled;


            tag.on('before-mount', function () {
                tag.setupControl();
            });

            tag.on("mount", function () {

                tag.setupControl();

                tag.originalValue = null;

                if (tag.originalValue == null) {
                    tag.originalValue = JSON.parse(JSON.stringify(tag.opts.model.value));
                }
            });

            tag.utilities = {

                triggerEvents: function (elements, action) {
                    if (!elements) {
                        return;
                    }
                    for (let i = 0; i < elements.length; i++) {

                        let element = elements[i];
                        tag.utilities.triggerEvent(element, action);
                    }
                },

                triggerEvent: function (element, action) {
                    if (element) {
                        action({target: element});
                    }
                },

                debug: function (x) {
                    return JSON.stringify(x, null, "  ");
                },


                uuid: function () {
                    function s4() {
                        return Math.floor((1 + Math.random()) * 0x10000)
                            .toString(16)
                            .substring(1);
                    }

                    // return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
                    return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
                },

                setValueForObject: function (key, value) {
                    let target = tag.opts.model.value;
                    tag.utilities.setValueForObject1(target, key, value, false, false)
                },
                setValueForObjectArray: function (key, value, active) {
                    let target = tag.opts.model.value;
                    tag.utilities.setValueForObject1(target, key, value, true, active)
                },

                getValueForObject: function (key) {
                    let target = tag.opts.model.value;
                    return tag.utilities.getValueForObject1(target, key)
                },
                setValueForObject1: function (target, key, value, isArray, active) {
                    let keys = key.split('.').reverse();


                    while (keys.length > 1) {
                        let f = keys.pop();
                        if (!(f in target)) {
                            target[f] = {};
                        }

                        target = target[f]
                    }

                    let lastKey = keys.pop();
                    if (isArray) {

                        let array = target[lastKey];
                        if (array == null) {
                            array = [];
                        }

                        let index = array.indexOf(value);
                        if (active) {
                            if (index === -1) {
                                array.push(value);
                            }
                        } else {
                            if (index > -1) {
                                array.splice(index, 1);
                            }
                        }

                        target[lastKey] = array;
                    } else {
                        target[lastKey] = value;
                    }

                },
                getValueForObject1: function (target, key) {
                    let keys = key.split('.').reverse();


                    while (keys.length > 1) {
                        let f = keys.pop();
                        if (!(f in target)) {
                            target[f] = {};
                        }

                        target = target[f]
                    }

                    return target[keys.pop()];
                },

                getField: function (key) {

                    let z1 = tag.opts.model.fields.filter(x => x.key === key)[0];
                    return z1;
                },

                isFunction: function (functionToCheck) {
                    return functionToCheck && {}.toString.call(functionToCheck) === '[object Function]';
                },

                isString: function (s) {
                    return typeof s === 'string' || s instanceof String;
                },

                equalsOrIncludes: function (arrayOrObject, value) {
                    if (arrayOrObject == value) {
                        return true;
                    }

                    if (!Array.isArray(arrayOrObject)) {
                        return false;
                    }

                    for (let i = 0; i < arrayOrObject.length; i++) {
                        let target = arrayOrObject[i];
                        if (target == value) {
                            return true;
                        }
                    }

                    return false;
                },

                updateChildren: function (tag, action) {

                    let preKeepers = new Set([]);
                    let postKeepers = new Set([]);

                    function findKeepers(keepers, options, currentValue) {


                        for (let j = 0; j < options.length; j++) {
                            let option = options[j];

                            if (tag.opts.utilities.equalsOrIncludes(currentValue, option.value)) {
                                let children = option.children || [];
                                for (let k = 0; k < children.length; k++) {
                                    let child = children[k];
                                    keepers.add(child);
                                }
                            }
                        }
                    }

                    let topField = tag.opts.field;
                    findKeepers(preKeepers, topField.options || [], tag.opts.utilities.getValueForObject(topField.key));
                    if (action != null && tag.opts.utilities.isFunction(action)) {
                        action();
                    }

                    findKeepers(postKeepers, topField.options || [], tag.opts.utilities.getValueForObject(topField.key));

                    let removes = Array.from(new Set([...preKeepers].filter(x => !postKeepers.has(x))));
                    let adds = Array.from(new Set([...postKeepers].filter(x => !preKeepers.has(x))));

                    if (action === true) {
                        adds = Array.from(preKeepers);
                    }

                    // tag.children.length = 0;

                    function processOption(add, activeChild) {
                        if (add) {
                            if (!tag.children.includes(activeChild)) {
                                tag.children.push(activeChild);
                            }
                        } else {
                            if (tag.children.includes(activeChild)) {
                                let index = tag.children.indexOf(activeChild);
                                tag.children.splice(index, 1);
                            }
                        }
                    }

                    for (let i = 0; i < adds.length; i++) {
                        let activeChild = adds[i];
                        processOption(true, activeChild);
                    }

                    for (let i = 0; i < removes.length; i++) {
                        let activeChild = removes[i];
                        processOption(false, activeChild);
                    }

                    if (removes.length + adds.length !== 0 || (action === true)) {
                        tag.update();
                    }
                }
            };


            function setupControl() {

                if (tag.opts.model == null) {
                    return;
                }

                
                let formValue = tag.opts.model.value;
                let fields = tag.opts.model.fields;

                let keys = Object.keys(formValue);

                for (let i = 0; i < keys.length; i++) {
                    let key = keys[i];
                    let keyValue = formValue[key];

                    let affectedFields = fields.filter(x => x.key === key);
                    for (let j = 0; j < affectedFields.length; j++) {
                        let affectedField = affectedFields[j];
                        if (affectedField.type === "chooser") {
                            let options = affectedField.options || [];
                            for (let k = 0; k < options.length; k++) {
                                let option = options[k];
                                option.chosen = tag.utilities.equalsOrIncludes(keyValue, option.value);
                            }
                        } else {
                            affectedField.value = keyValue;
                        }
                    }
                }
            }

            function title() {
                if (tag.utilities.isFunction(opts.model.title)) {
                    return opts.model.title(opts.model.value);
                }

                return opts.model.title;
            }

            function errors() {
                return tag.validationErrors;
            }
            
            function isDisabled() {
                if (tag.utilities.isFunction(opts.model.disabled)) {
                    return opts.model.disabled(opts.model.value);
                }

                return opts.model.disabled === true;
            }

            function getFields(fields, isTop) {

                let ar = [];
                for (let i = 0; i < fields.length; i++) {
                    let field = fields[i];

                    for (let j = 0; j < (field.options || []).length; j++) {
                        let option = field.options[j];
                        for (let k = 0; k < (option.children || []).length; k++) {
                            let child = option.children[k];
                            ar.push(child);
                        }
                    }
                }


                return fields.filter(function (item) {

                    let id = item.key;

                    if (isTop) {
                        return ar.some(y => y == id) ? false : true;
                    }
                    return ar.some(y => y == id) ? true : false;
                });
            }

            function pushError(fields, errorItem, errorResults, message, suggestedValue) {

                function matchFields(fs, target) {
                    let matches = fs.filter(x => x.key === target);
                    if (matches.length === 1) {
                        return matches[0];
                    }

                    return null;
                }

                message = message || "`{target}` has an error.";

                let match = matchFields(fields, errorItem.target);

                let targetName = match ? match.label : errorItem.target;
                errorResults.push(message.replace("{target}", targetName).replace("{suggestedValue}", suggestedValue));
            }

            function validateItem(errorItem, localValue, errorResults, fields) {


                let target = errorItem.target;

                if (tag.utilities.isFunction(target)) {
                    target = target(localValue);
                } else {
                    target = localValue[target];
                }

                let isRequired = errorItem.required;
                let format = errorItem.format;


                if (isRequired) {
                    if (target == null || (tag.utilities.isString(target) && target.length === 0)) {
                        pushError(fields, errorItem, errorResults, "`{target}` is a required field.");
                        return;
                    }
                }

                if (errorItem.minLength != null && errorItem.maxLength != null) {
                    if (tag.utilities.isString(target) && (target.length < errorItem.minLength) || (target.length > errorItem.maxLength)) {
                        pushError(fields,
                            errorItem,
                            errorResults,
                            `\`{target}\` value length must be between ${errorItem.minLength} and ${errorItem.maxLength}`);
                        return;
                    }
                } else {
                    if (errorItem.minLength != null) {
                        if (tag.utilities.isString(target) && (target.length < errorItem.minLength)) {
                            pushError(fields,
                                errorItem,
                                errorResults,
                                `\`{target}\` value length must be greater than or equal to ${errorItem.minLength}`);
                            return;
                        }
                    }
                    if (errorItem.maxLength != null) {
                        if (tag.utilities.isString(target) && (target.length > errorItem.maxLength)) {
                            pushError(fields,
                                errorItem,
                                errorResults,
                                `\`{target}\` value length must be less than or equal to ${errorItem.maxLength}`);
                            return;
                        }
                    }
                }

                if (format) {
                    if (tag.utilities.isFunction(format)) {
                        let formatValue = format(target);

                        if (!formatValue.isValid) {
                            pushError(fields, errorItem, errorResults, formatValue.formatString || "`{target}` has a format error.", formatValue.suggestedValue);
                        }
                    } else {

                        let testRegex = format;
                        if (tag.utilities.isString(testRegex)) {
                            testRegex = new RegExp(testRegex);
                        }

                        if (!testRegex.test(target)) {
                            pushError(fields, errorItem, errorResults, "`{target}` has a format error.");
                        }
                    }

                }
            }

            function handleValidation(value) {

                let validationProvider = tag.opts.model.validation;
                let errorItems = [];
                if (validationProvider) {
                    validationProvider({
                        for: function (nameOrFunc) {
                            let errorItem = {
                                target: nameOrFunc,
                                required: false,
                                format: null,
                                minLength: null,
                                maxLength: null
                            };

                            errorItems.push(errorItem);

                            let returnValue = {
                                required: function (value) {
                                    if (value == null) {
                                        errorItem.required = true;
                                    } else {
                                        errorItem.required = value;
                                    }
                                    return returnValue;
                                },

                                format: function (value) {
                                    let lookup = {};
                                    lookup["url"] = function (x) {
                                        let parser = document.createElement('a');
                                        parser.href = x;
                                        if (parser.href !== x) {
                                            return {
                                                isValid: false,
                                                formatString: "`{target}` improperly formatted, try: `{suggestedValue}`",
                                                suggestedValue: parser.href
                                            };

                                        }

                                        return {
                                            isValid: true,
                                            formatString: "`{target}` improperly formatted, try: `{suggestedValue}`",
                                            suggestedValue: parser.href
                                        };
                                    };


                                    if (value != null) {
                                        if (value in lookup) {
                                            errorItem.format = lookup[value];
                                        } else {
                                            errorItem.format = value;
                                        }
                                    }

                                    return returnValue;
                                },
                                length: function (minLength, maxLength) {
                                    errorItem.minLength = minLength;
                                    errorItem.maxLength = maxLength;
                                    return returnValue;
                                }
                            };

                            return returnValue;
                        }
                    });
                }

                let localValue = value;


                let fields = this.opts.model.fields;

                if (errorItems.length >= 0) {
                    let errorResults = [];
                    for (let i = 0; i < errorItems.length; i++) {
                        let errorItem = errorItems[i];
                        validateItem(errorItem, localValue, errorResults, fields);
                    }

                    return errorResults;
                }


                let submitter = tag.opts.model.handleValidate;
                if (submitter) {
                    let s = submitter(localValue);

                    if (s == null) {
                        return [];
                    }

                    if (Array.isArray(s)) {
                        return s;
                    }

                    if (tag.utilities.isString(s)) {
                        return [s];
                    }
                }

                return [];
            }

            function handleSubmit(x) {

                let localValue = tag.opts.model.value;

                let fields = tag.opts.model.fields;

                let topFields = getFields(fields, true);
                let bottomFields = getFields(fields, false);
                let keepers = [];
                for (let i = 0; i < topFields.length; i++) {
                    let topField = topFields[i];
                    let options = topField.options || [];
                    for (let j = 0; j < options.length; j++) {
                        let option = options[j];

                        let currentValue = tag.utilities.getValueForObject(topField.key);
                        if (tag.utilities.equalsOrIncludes(currentValue, option.value)) {
                            let children = option.children || [];
                            for (let k = 0; k < children.length; k++) {
                                let child = children[k];
                                keepers.push(tag.utilities.getField(child));
                            }
                        }
                    }
                }

                for (let i = 0; i < bottomFields.length; i++) {
                    let bottomField = bottomFields[i];
                    if (!keepers.includes(bottomField)) {
                        tag.utilities.setValueForObject1(localValue, bottomField.key,
                            tag.utilities.getValueForObject1(tag.originalValue || {}, bottomField.key),
                            false);
                    }
                }

                let results = tag.handleValidation(localValue);
                if (results.length > 0) {
                    tag.validationErrors = results;
                    x.preventDefault();
                    return false;
                } else {
                    tag.validationErrors = [];
                }

                let submitter = tag.opts.model.handleSubmit;
                if (submitter) {
                    let s = submitter(localValue);
                    if (s === true || s === false) {
                        if (s === false) {
                            x.preventDefault();
                            return false;
                        }

                        return true;
                    }
                }

                x.preventDefault();
                return false;
            }

        </script>
    </form>
</user-form>
