<user-form-field-checkbox>

    <div>
        <div class="form-group" id={cbParentId()}>
            <label>{opts.field.label}</label>
            <virtual each={option in opts.field.options}>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox"
                               id={cbId(option.value) }
                               class="form-check-input"
                               checked="{option.chosen}"
                               onclick={ check }
                               data-key={ opts.field.key }
                               data-value={ option.value }/>
                        {option.label}
                    </label>
                </div>
            </virtual>
        </div>


        <virtual each={subItem in this.children}>

            <user-form-field utilities={opts.utilities} formValue={opts.formvalue} fields={opts.fields}
                             field={getField(subItem)}></user-form-field>
        </virtual>
    </div>
    <script>

        let tag = this;
        tag.children = [];
        tag.getField = getField;
        tag.cbId = cbId;
        tag.cbParentId = cbParentId;
        tag.check = check;


        if (tag.opts && tag.opts.field) {
            if (!("sjy9876786347829429" in tag.opts.field)) {
                tag.local_id = tag.opts.utilities.uuid();
                tag.opts.field["sjy9876786347829429"] = tag.local_id;
            }
        }


        function cbId(option) {
            return "cb" + tag.local_id + "_" + option.value;
        }

        function cbParentId() {
            return "cb" + tag.local_id;
        }


        function check(e) {
            
            let key = e.target.dataset.key;
            let value = e.target.dataset.value;
            let isChecked = e.target.checked;
            
            
            tag.opts.utilities.updateChildren(tag, () => tag.opts.utilities.setValueForObjectArray(key, value, isChecked));
        }


        function getField(key) {
            return tag.opts.fields.filter(x => x.key === key)[0];
        }

        tag.on('mount', function () {

            let parentEl = document.getElementById(tag.cbParentId());
            if (parentEl != null) {
                tag.opts.utilities.triggerEvents(parentEl.getElementsByTagName("input"), tag.check);
            }

            tag.opts.utilities.updateChildren(tag, true);
        });


    </script>
</user-form-field-checkbox>