<user-form-field-text>

    <div>
        <div class="form-group">
            <label>{opts.field.label}
                <input type="{opts.field.type}"
                       id={ textId() }
                       class="form-control"
                       value={ getTextValue(opts.field) }
                       data-key={ opts.field.key }
                       onkeyup='{ change }'
                       placeholder="{opts.field.placeholder}"/>
            </label>
        </div>

        <virtual each={subItem in this.children}>

            <user-form-field utilities={opts.utilities} formValue={opts.formvalue} fields={opts.fields}
                             field={getField(subItem)}></user-form-field>
        </virtual>
    </div>


    <script>

        let tag = this;

        tag.textId = textId;
        tag.getTextValue = getTextValue;
        tag.change = change;
        tag.getField = getField;

        tag.children = [];

        if (tag.opts && tag.opts.field) {
            if (!("sjy9876786347829429" in tag.opts.field)) {
                tag.local_id = tag.opts.utilities.uuid();
                tag.opts.field["sjy9876786347829429"] = tag.local_id;
            } else if (tag.local_id == null) {
                tag.local_id = tag.opts.field["sjy9876786347829429"];
            }
        }


        function getTextValue(theItem) {
            return theItem.value;
        }
        
        function textId() {
            return "text" + tag.local_id;
        }

        function change(e) {
            tag.opts.utilities.updateChildren(tag, () => tag.opts.utilities.setValueForObject(e.target.dataset.key, e.target.value));
        }


        function getField(key) {
            return opts.fields.filter(x => x.key === key)[0];
        }

        tag.on('mount', function () {

            tag.opts.utilities.triggerEvent(document.getElementById(tag.textId()), tag.change);

            tag.opts.utilities.updateChildren(tag, true);

        });


    </script>
</user-form-field-text>